<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abdussalam.OpenAndBuy">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDSdQAjX80aPE5hmlxZQ1nr0W-6QtsiF8I"/>
</manifest>
